// Variables
$black: #000;
$white: #fff;
$grey: #eaeaea;
$red: #ff0000;
$brown: #cc5940;
$active-color: #ccd7ff;
$primary-color: #42cc40;
$modal-active: #b9b9b9;
$normal-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$active-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$dark-grey: #979797;

// Main

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

/* Scroll bar 
=============== */
  body::-webkit-scrollbar,
  .currency-modal::-webkit-scrollbar {
    width: .9rem;
  }
  
  body::-webkit-scrollbar-track,
  .currency-modal::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  body::-webkit-scrollbar-thumb,
  .currency-modal::-webkit-scrollbar-thumb {
    background-color: rgba(22, 34, 57, 0.5);
    outline: 1px solid $dark-grey;
  }
  
  body::-webkit-scrollbar-thumb:hover,
  .currency-modal::-webkit-scrollbar-thumb:hover {
    background-color: $dark-grey;
  }

// Container

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 5%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(244,243,250,1) 0%, rgba(255,255,255,1) 100%);

    .main-title {
        color: $black;
        text-align: center;
        font-size: 2.2rem;
        font-weight: bold;
        padding-top: 2.5rem;
        letter-spacing: inherit;
    }

    .current-date {
        color: $black;
        text-align: center;
        font-size: 2rem;
        margin-top: 1rem;
    }

    // Currency

    .currency-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
        
        .currency-card {
            position: relative;
            width: 22%;
            margin-right: 3%;
            margin-top: 2rem;
            background: $grey;
            display: flex;
            flex-direction: column;
            padding: 1em .4em 1em 1.2em;
            border-radius: .4rem;
            box-shadow: $normal-shadow;
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);

            &:hover {
                background: $active-color;
                cursor: pointer;
                box-shadow: $active-shadow;
            }

            .remove-btn {
                position: absolute;
                background: transparent;
                color: $red;
                border: none;
                font-weight: bold;
                font-size: 1.1rem;
                top: .4rem;
                right: .4rem;

                &:hover {
                    cursor: pointer;
                    color: $brown;
                }
            }

            .currency-col1 {
                margin: 1.3rem 0 1rem 0;
                display: flex;
                align-items: center;

                .currency-flag {
                    width: 30%;
                    height: 2.6rem;
                    margin-right: .5rem;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                .currency-icon {
                    margin-right: .5rem;
                    font-weight: 500;
                    font-size: 1.4em;
                }

                .currency-input {
                    height: 2.2rem;
                    border: .1rem solid $black;
                    border-radius: .2rem;
                    padding: 0 .15rem;
                    font-size: 1.2em;
                    font-weight: 500;
                    width: 100%;
                }
            }

            .currency-col2 {
                text-align: center;

                .currency-abv {
                    font-size: 1.2em;
                    font-weight: bold;
                }

                .currency-conversion {
                    font-weight: 500;
                    margin-top: .8rem;
                    margin-bottom: .2rem;
                    font-weight: bold;
                }
            }
        }

        .currency-card.active {
            background: $active-color;
            box-shadow: $active-shadow;
        }       
    }
}

// Modal

.modal-container {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    position: relative;

    .modal-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: $grey;
    }

    .currency-modal {
        width: 32%;
        border: .15rem solid $black;
        border-radius: .4rem;
        height: 85%;
        overflow-y: scroll;
        z-index: 2;
        position: absolute;
        top: 2rem;
        left: 50%;
        transform: translate(-50%);
        
        .modal-card {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1em 1.2em;
            background: $grey;
            border-bottom: .15rem solid $black;

            &:hover {
                cursor: pointer;
            }

            &:last-child {
                border-bottom: none;
            }

            .modal-flag {
                width: 17%;
                height: 3.2rem;
                margin-right: .8rem;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .modal-abv {
                width: 75%;
                font-size: 1.2rem;
                font-weight: 500;
            }
        }
    }

    .modal-card.active {
        background: $modal-active;
    }

    .add-btn {
        background: $brown;
        z-index: 2;
        position: absolute;
        bottom: 1.5rem;
        margin-bottom: 0;
        left: 50%;
        transform: translate(-50%);
    }
}


// Buttons

.btn-container {
    position: relative;
    margin: 3rem 0;
    bottom: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    font-size: 1.5em;
    font-weight: bold;
    padding: .5em;
    border-radius: .8rem;
    width: 18rem;
    background: $primary-color;
    color: $white;
    border: none;
    box-shadow: $normal-shadow;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-bottom: 1.5rem;

    &:hover {
        cursor: pointer;
        filter: brightness(105%);
        box-shadow: $active-shadow;
    }
}

// Media Query

@media(max-width: 1400px) {
    .container .currency-container .currency-card {
        width: 30%;
    }
}

@media(max-width: 1100px) {

    .container {
        height: 100%;

        .main-title {
            font-size: 2rem;
            padding-top: 1rem;
        }

        .current-date {
            font-size: 1.6rem;
            margin-top: .5rem;
        }

        .currency-container {
            margin-top: 1rem;
            
            .currency-card {
                width: 47%;
            }
        }

        .btn-container {
            margin-bottom: 0;
            bottom: 0;
        }
    }

    .modal-container {
        .currency-modal {
            width: 45%;
        }
    }
}

@media (max-width: 700px) {
    .container {
        .currency-container {    
            .currency-card {
                width: 80%;
                margin: 2rem auto 0 auto;
        
                .currency-col1 {
                    .currency-input {
                        height: 2.5rem;
                    }
            
                    .currency-flag {
                        height: 2.8rem;
                    }
                }

            }
        }
    } 

    .modal-container {
        .currency-modal {
            width: 90%;
        }
    }
}

@media (max-width: 550px) {
    .container {
        padding: 0;
        .currency-container {    
            .currency-card {
                width: 100%;
                margin: 0 auto;
                border-top: 2px solid $black;

                &:last-child {
                    border-bottom: 2px solid $black;
                }

                .remove-btn {
                    font-size: 1.5rem;
                }
        
                .currency-col1 {
                    .currency-input {
                        height: 2.7rem;
                    }
            
                    .currency-flag {
                        height: 3rem;
                    }
                }
                .currency-col2 {
                    font-size: 1.1rem;
                }
            }
        }
    }

    .modal-container {
        .currency-modal {
            width: 100%;

            .modal-card {
                padding-left: 0;

                .modal-flag {
                    width: 22%;
                }
                .modal-abv {
                    width: 70%;
                }
            }
        }
    }

}